body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A0674D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Heading {
  font-size: xx-large;
  font-weight: 700;
  color: #393E41;
  width: 95%;
  text-align: left;
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
  letter-spacing: -0.1rem;
}

.Name {
  background-image: url(../src/assets/Banner.png);
  width: 95%;
  height: 20vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.Banner {
  background-image: url(../src/assets/P1040764.JPG);
  width: 95%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  text-transform: uppercase;
}

.Navbar {
  display: flex;
  flex-direction: row;
  color: #EEE5BF;
  list-style-type: none;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  letter-spacing: 2px;
}

.Navbar li {
  padding: 0 10px;
}
